{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Web AR demo</title>

    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.2.3.js"></script>
    <script src="https://mixreality-staticfiles.s3-us-west-1.amazonaws.com/agora/agora-rtm-sdk-1.4.1.js"></script>

   {% include "base_webar.html" %}

    <link rel="stylesheet" href="{% static 'css/agora.css' %}">

    <script type="text/javascript">
        const nnPath = "{% static 'WebAR/neuralNets/NN_HEADPHONES_3.json' %}"
        const occluderPath = "{% static 'WebAR/assets/models3D/occluder.glb' %}"
        const modelPath = "{% static 'WebAR/assets/models3D/Recon_Helmet2.glb' %}"
        const envPath = "{% static 'WebAR/assets/envmaps/venice_sunset_1k.hdr' %}"
        const appId = "{{ agora_app_id }}"
        const token = "{{ rtc_token }}"
        const uid = "{{ uid }}"
    </script>

    <!-- Main script    -->
    <script type="module" src="{% static 'js/ar_agora.js' %}"></script>
</head>
<body>
    <h4>Local video</h4>
    <div id="page">
        <h4>Input, Web AR and Composite Canvases</h4>
        <div id="container">
            <div><canvas id='WebARRocksFaceCanvas'></canvas></div>
            <div><canvas id='threeCanvas'></canvas></div>
            <div><canvas id="composite"></canvas></div>
        </div>
        <h4>Streamed to Agora</h4>
        <div id="local_stream"></div>
    </div>

</body>
</html>

