{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Web AR demo</title>

    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.2.3.js"></script>
    <script src="https://mixreality-staticfiles.s3-us-west-1.amazonaws.com/agora/agora-rtm-sdk-1.4.1.js"></script>

    <!-- Web AR scripts    -->
    <script type="text/javascript" src="{% static 'WebAR/js/WebARRocksFace.js' %}"></script>

    <!-- INCLUDE MAIN HELPER -->
    <script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksFaceDebugHelper.js' %}"></script>

    <!-- INCLUDE RESIZER HELPER -->
    <script type="text/javascript" src="{% static 'WebAR/helpers/WebARRocksResizer.js' %}"></script>

    <!-- INCLUDE LANDMARKS STABILIZER -->
    <script type="text/javascript" src="{% static 'WebAR/helpers/stabilizers/WebARRocksLMStabilizer.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/webar.css' %}">

    <!-- Main script    -->
    <script type="module" src="{% static 'js/detect.js' %}"></script>

    <script type="text/javascript">
        const nnStaticPath = "{% static 'WebAR/neuralNets/NN_HEADPHONES_0.json' %}"
        const appId = "{{ agora_app_id }}"
        const token = "{{ rtc_token }}"
        const uid = "{{ uid }}"
    </script>

</head>
<body>
    <h1>
        Video Call<br><small style="font-size: 14pt;">Powered by Agora.io</small>
    </h1>
    <h4>Local video</h4>
<!--    <video width="600" height="600" id="meVideo"></video>-->
    <canvas width="960" height="540" id="meCanvas"></canvas>
    <canvas width="600" height="600" id="meCanvas2"></canvas>


</body>
</html>

