  body {
    margin: 0;
    background-color: silver;
    overflow: hidden;
  }
  #WebARRocksFaceCanvas, #threeCanvas {
    position: fixed;
    width: 50vw;
    top: 0;
    left: 0;

    /* mirror the canvas: */
    transform: rotateY(180deg);
  }

  #WebARRocksFaceCanvas {
    z-index: 0;
  }
  #threeCanvas {
    z-index: 1;
  }

  #controls {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100vw;
    bottom: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #controls > div {
    cursor: pointer;
    flex-grow: 1;
    font-variant: small-caps;
    font-size: 14pt;
    text-align: center;
    min-width: 110px;
    box-sizing: border-box;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    height: 40px;
    color: #eee;
  }

  #controls > div:hover {
    background: rgba(50, 50, 50, 0.5);
    color: #fff;
  }